<section class="orders bg-gradient-to-b from-yellow-50 to-red-50 min-h-screen py-12">
  <div class="container mx-auto px-4 xl:px-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-8 text-center border-b pb-4">Admin - All Orders</h1>

    <div class="overflow-x-auto shadow-xl rounded-xl bg-white">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Orders</th>
            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Customer</th>
            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Address</th>
            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Status</th>
            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Placed At</th>
            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Payment</th>
          </tr>
        </thead>
        <tbody id="orderTableBody" class="bg-white divide-y divide-gray-200">
          
        </tbody>
      </table>
    </div>
  </div>
</section>