@import './variables';

body{
    font-family: 'Lato',sans-serif;

    -webkit-font-smoothing: antialiased;

    color: $dark;
    height: 4000px;
}
nav {
  background: $secondary; // or $pure or a hex like #fff5ee
  box-shadow: 0 2px 4px rgba(245, 255, 252, 0.49); // optional shadow
}



nav li:last-child a {
  background: /* replace with actual color, e.g. */ #4A966A;
}

nav li:last-child a:hover {
  background: /* replace with actual hover color, e.g. */ #e9eaea7a;
}



nav li a{
    transition: $smooth;
    &:hover{
         color:$primary;
    }
   
}
.size{
    background: $secondary;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure ;
        color: $pure;
    }
}